body {
	margin: 0;

	display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

  background-color: white;
}



.tabs {
  border-bottom: solid #88bfa4;
  box-shadow: 0px 2px #88bfa464 ;
  padding: 5px;
  position: relative;

  #delete {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 24px;
    padding: 10px 0px;
    margin: 0px;
    writing-mode: vertical-rl;
  }
}

.tabs-information {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}

#description {
  p {
    font-family: "Electrolize", "sans-serif";
    font-size: 16px;
  }
}

#reservation {
  width: 40%;
  border: solid lightgrey;
  box-shadow: 2px 2px 2px rgba(211, 211, 211, 0.394);
  border-radius: 5px;
  padding: 20px;

  p {
    font-family: "Orbitron", "sans-serif";
    font-weight: lighter;
    font-size: 20px;
  }
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  p {
    font-size: 12px;
  }
}



#arrival {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  border: solid #88bfa4;
  border-right: none;
  box-shadow: 2px 2px 2px #88bfa464 ;
  width: 50%;
}

#departure {
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius : 0px 5px 5px 0px;
  border: solid #88bfa4;
  box-shadow: 2px 2px 2px #88bfa464 ;
  width: 50%
}
