.button-red {
  text-decoration: none;
  flex: 0 0 auto;
  margin: 0 auto;

  cursor: pointer;

  color: white;
  background: #851212;
  border: solid #851212;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #8512123c ;
  letter-spacing: 1px;
  padding: 5px 10px;

  &:hover {
    background-color: none;
    color: white;
  }
}



.btn-margin {
  margin : 10px;
}
