.button-orange {
  text-decoration: none;
  flex: 0 0 auto;
  margin: 0 5px;

  cursor: pointer;

  color: #ffffff;
  background: #351C31;
  border: solid #30192c;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #351c3165 ;
  letter-spacing: 1px;
  padding: 5px 10px;
  width: 100%;
  margin: 20px 0px;


  &:hover {
    background-color: white;
    color: #351C31;
  }
}
