.button-white {
  text-decoration: none;
  flex: 0 0 auto;
  margin: 0 5px;

  cursor: pointer;

  color: #351C31;
  background: none;
  border: solid #88bfa4;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #88bfa464 ;
  letter-spacing: 1px;
  padding: 5px 10px;

  &:hover {
    background-color: #88bfa4;
    color: white;
  }
}
