.products-wrapper {
  top: 16px;
  right: 0;
  width: 85vw;
  padding: 20px;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding: 16px;
  margin: 30px;

  a {
    text-align: center;
    align-items: center;
  }
}

.product-card {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  color: black;
  background-color: white;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  height: auto;
  padding: 10px;
  box-shadow: 2px 2px 2px #88bfa464;
  border: solid #88bfa4;
  position: relative;

  img {
    border-radius: 5px;
    height: 253px;
    width: 100%;
    object-fit: cover;
  }
}

.product-card-infos {
  font-size: 20px;
  padding-bottom: 10px;
}

#product-card-infos-link {
  position: absolute;
  margin: 5px;
  bottom: 5px;
  right: 5px;
}

.product-card-booking-name {
  font-weight: bolder;
  font-size: 30px;
}

#product-card-booking-date {
  font-size: smaller;
}

#product-card-new {
  display: flex;
  flex-direction: column;
  width: 201,16px;
  height: 515px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 2px #88bfa464;
  border: solid #88bfa4;
  border-radius: 5px;
  color: #88bfa4;
  font-weight: bold;

  &:hover {
    background-color: #88bfa4;
    color: white;
  }
}


.main-container {
  display: flex;
  margin-top: 100px;

  h2 {
    border-bottom: solid #88bfa4;
    border-left: solid #88bfa4;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}

@media(max-width: 992px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .products {
    grid-template-columns: 1fr;
  }
}
