// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/profile";

@import "components/button-white";
@import "components/button_orange";
@import "components/carousel";
@import "components/carousel_minimal";
@import "components/card";
@import "components/footer";

body {
  background-color: white;
}

// Flatpickr
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";
a {
  text-decoration-style: none;
  text-decoration: none;
}
body{
  font-family: "Electrolize";
}

.container{
  height: auto;
}

.container-footer {
  min-height: calc(100vh - 70px - 80px);
}
