<div class="container">
  <h1>SpaceBnB</h1>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images2.alphacoders.com/542/thumb-1920-542730.png);">
    <div>
      <h1><strong>SpaceBnB </strong></h1>
      <p>For you next holiday destination, aim for the stars!</p>
    </div>
  </div>

  <div class="cards">
    <% @products.each do |product| %>
    <div class="card card-index">
      <% link_to product.name, product_path(product) %>
      <i class="fa-solid fa-heart" stule="color: white"></i>
      <div class="card-img">
        <img src="https://source.unsplash.com/random/800x533/?space" alt="">
      </div>
      <div class="card-body">
        <p class="card-title"><%= product.name %></p>
        <p class="card-description"><%= product.description %></p>
        <div class="card-price">
          <p><%= product.price %>€/night</p>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
